[submodule "Vortex/vendor/spdlog"]
	path = Vortex/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vortex/vendor/glfw"]
	path = Vortex/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vortex/vendor/imgui"]
	path = Vortex/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vortex/vendor/glm"]
	path = Vortex/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vortex/vendor/shaderc"]
	path = Vortex/vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Vortex/vendor/spirv-cross"]
	path = Vortex/vendor/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Vortex/vendor/yaml-cpp"]
	path = Vortex/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
